<title>All users</title>
<div class="panel panel-default">
  <div class="panel-heading">All users</div>
  <div class="panel-body">
    <% @users.each do |user| %>
      <%= user.last_name %>
      <%= user.first_name %><br>
    <% end %>
  </div>
</div>
