<!DOCTYPE html>
<html lang="en">
  <title>Sign up</title>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <h2 class="form-signin-heading", align="center">Sign Up</h2>

    <%= render 'form' %>
  </body>
</html>
